@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0; }

.container {
  width: 1140px;
  margin: 0 auto; }

.promo {
  min-height: 680px;
  background: url("../img/bg.jpg") center center/cover no-repeat;
  padding: 23px 0 82px 0; }
  .promo__head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .promo__logo {
    margin-right: 55px; }
  .promo__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 600px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-left: 0;
    margin-bottom: 0;
    margin-right: 50px;
    margin-top: 37px; }
    .promo__menu li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      list-style-type: none;
      border-right: 1px dotted #fff;
      padding-right: 14px; }
      .promo__menu li span {
        display: none;
        width: 100%;
        height: 1px;
        background-color: #ec644b;
        margin-top: 5px; }
      .promo__menu li:hover span {
        display: block; }
      .promo__menu li:last-child {
        border-right: none;
        padding-right: 0; }
  .promo__link {
    position: relative;
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    line-height: 15px;
    text-decoration: none; }
    .promo__link:hover {
      color: #ec644b; }
  .promo__questions {
    margin-top: 25px;
    margin-right: 17px; }
  .promo__text {
    text-align: end;
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    opacity: 0.7; }
  .promo__phone {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px; }
    .promo__phone a {
      color: #ffffff;
      text-decoration: none; }
  .promo__btn {
    margin-top: 25px;
    width: 160px;
    height: 45px;
    border: none;
    padding: 18px 23px;
    background-color: #ec644b;
    border-radius: 25px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px; }
  .promo__opt {
    text-align: center;
    margin-top: 9px;
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    opacity: 0.7; }
  .promo__title {
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    color: #ec644b;
    margin-top: 26px; }
  .promo__subtitle {
    color: #ffffff;
    font-size: 42px;
    font-weight: 400;
    text-align: center;
    margin-top: 9px; }
  .promo__divider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 809px;
    margin: 0 auto;
    margin-top: 38px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .promo__divider-line {
      width: 388px;
      height: 1px;
      background-color: #fff; }
    .promo__divider-dott {
      height: 10px;
      width: 10px;
      border-radius: 100%;
      background-color: #fff; }
  .promo__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 27px; }
  .promo__item {
    width: 260px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .promo__icon {
    min-height: 63px; }
  .promo__descr {
    color: #ffffff;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    margin-top: 13px;
    opacity: 0.7; }
  .promo__button {
    display: block;
    margin: 0 auto;
    margin-top: 39px;
    width: 230px;
    height: 57px;
    background-color: #ec644b;
    padding: 23px 45px;
    color: #ffffff;
    font-size: 15px;
    font-weight: 700;
    line-height: 12px;
    border: none;
    border-radius: 25px; }

.benefits {
  padding: 58px 0 51px 0;
  background-color: #f3f3f3; }
  .benefits__title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 32px; }
  .benefits__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 62px;
            column-gap: 62px; }
  .benefits__column-items {
    display: grid;
    grid-template-columns: 70px 447px;
    margin-bottom: 36px; }
  .benefits__column-icon {
    justify-self: center; }
  .benefits__column-title {
    color: #ec644b;
    font-size: 16px;
    font-weight: 700;
    line-height: 11px; }
  .benefits__column-descr {
    margin-top: 14px;
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px; }

.shipping {
  padding: 51px 0 57px 0; }
  .shipping__title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .shipping__divider {
    width: 148px;
    height: 1px;
    background-color: #ec644b;
    margin: 0 auto;
    margin-bottom: 17px; }
  .shipping__subtitle {
    width: 879px;
    margin: 0 auto;
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 37px; }
  .shipping__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .shipping__items-icon {
    margin-bottom: 28px; }
  .shipping__items-title {
    color: #ec644b;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 15px; }
  .shipping__items-descr {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    text-align: center; }

.agent {
  background: url("../img/bg_second.jpg") center center/cover no-repeat;
  padding: 58px 0 75px 0; }
  .agent__round {
    margin: 0 auto;
    margin-bottom: 20px;
    width: 102px;
    height: 102px;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 21px 27px 30px 27px; }
  .agent__title {
    color: #ffffff;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    margin-bottom: 22px; }
  .agent__text {
    width: 984px;
    margin: 0 auto;
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    opacity: 0.7; }

.coast {
  padding: 53px 0 58px 0; }
  .coast__title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px; }
  .coast__divider {
    width: 148px;
    height: 1px;
    background-color: #ec644b;
    margin: 0 auto;
    margin-bottom: 17px; }
  .coast__text {
    width: 689px;
    margin: 0 auto;
    color: #2e2e2e;
    font-size: 21px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
    margin-bottom: 34px; }
  .coast__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .coast__items {
    width: 265px;
    min-height: 355px;
    border: 1px solid #e9e9e9; }
    .coast__items-head {
      width: 261px;
      height: 61px;
      background-color: #25333c;
      margin: 2px 2px 0 2px;
      padding: 24px 0 22px 0;
      color: #ffffff;
      font-size: 16px;
      font-weight: 700;
      line-height: 17px;
      text-align: center;
      text-transform: uppercase; }
    .coast__items-logo {
      height: 78px; }
      .coast__items-logo img {
        display: block;
        margin: 0 auto;
        margin-top: 14px; }
    .coast__items-title {
      color: #2e2e2e;
      font-size: 14px;
      font-weight: 400;
      text-align: center;
      text-transform: uppercase; }
    .coast__items-pay {
      color: #ec644b;
      font-size: 28px;
      line-height: 20px;
      text-align: center;
      margin-top: 10px; }
    .coast__items-descr {
      margin: 19px 18px 25px 13px;
      min-height: 53px;
      color: #2e2e2e;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      text-align: center; }
    .coast__items-btn {
      display: block;
      margin: 0 auto;
      margin-bottom: 41px;
      width: 160px;
      height: 45px;
      background-color: #ec644b;
      border: none;
      border-radius: 40px;
      padding: 18px 45px 16px 43px;
      color: #ffffff;
      font-size: 12px;
      font-weight: 400;
      line-height: 13px;
      text-transform: uppercase; }
      .coast__items-btn:hover {
        background-color: #dc5238; }
  .coast__subtitle {
    height: 27px;
    color: #3a3a3a;
    font-size: 28px;
    font-weight: 400;
    line-height: 23px;
    text-align: center;
    margin-top: 56px; }
  .coast__form {
    margin-top: 71px;
    height: 166px;
    border: 1px solid #898989;
    position: relative; }
  .coast__wrapp {
    position: absolute;
    height: 102px;
    width: 122px;
    background-color: #fff;
    top: -32%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
    .coast__wrapp-round {
      height: 102px;
      width: 102px;
      border: 1px solid #ec644b;
      border-radius: 100%;
      margin: 0 auto;
      padding: 17px 22px 24px 21px; }
  .coast__forms {
    margin-left: 160px;
    margin-top: 67px; }
    .coast__forms-items {
      width: 270px;
      height: 45px;
      border: 1px solid #898989;
      border-radius: 40px;
      padding: 17px 28px; }
  .coast__fon {
    position: absolute;
    width: 210px;
    height: 45px;
    padding: 0 15px;
    background-color: #fff;
    bottom: -14%;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .coast__btn {
    width: 180px;
    height: 45px;
    background-color: #ec644b;
    border: none;
    border-radius: 40px;
    padding: 18px 31px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-transform: uppercase; }

.meneger {
  background: url("../img/bg_third.jpg") center center/cover no-repeat;
  padding: 58px 0 76px 0; }
  .meneger__round {
    width: 102px;
    height: 102px;
    border: 1px solid #ffffff;
    border-radius: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 24px 25px 25px 24px; }
  .meneger__title {
    color: #fff;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    margin-bottom: 18px; }
  .meneger__text {
    margin: 0 auto;
    width: 924px;
    color: #ffffff;
    font-size: 19px;
    font-weight: 300;
    line-height: 27px;
    text-align: center;
    opacity: 0.7; }

.work {
  padding: 51px 0 46px 0;
  background-color: #f3f3f3; }
  .work__title {
    color: #2e2e2e;
    font-size: 26px;
    font-weight: 700;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px; }
  .work__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly; }
  .work__items {
    width: 257px; }
    .work__items-logo {
      height: 57px;
      margin-top: 28px;
      margin-bottom: 10px; }
      .work__items-logo img {
        display: block;
        margin: 0 auto; }
    .work__items-subtitle {
      color: #ec644b;
      font-size: 16px;
      font-weight: 700;
      text-align: center; }
    .work__items-text {
      color: #3a3a3a;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
      text-align: center; }

.slider {
  padding: 51px 0 65px 0; }
  .slider__title {
    color: #2e2e2e;
    font-weight: 700;
    font-style: normal;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 25px; }
  .slider__divider {
    width: 148px;
    height: 1px;
    background-color: #ec644b;
    margin: 0 auto;
    margin-bottom: 17px; }
  .slider__descr {
    width: 749px;
    margin: 0 auto;
    color: #2e2e2e;
    font-size: 20px;
    font-weight: 300;
    line-height: 24px;
    margin-bottom: 31px; }
  .slider__wrapp {
    margin: 0 auto;
    position: relative;
    width: 695px; }
  .slider__items {
    width: 695px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: 0px;
    z-index: 1; }
  .slider__head {
    margin-top: 10px;
    font-size: 19px;
    font-weight: 700;
    color: #3a3a3a; }
  .slider__text {
    color: #3a3a3a;
    font-size: 14px;
    font-weight: 300;
    line-height: 14px;
    text-align: center;
    margin-top: 10px; }
  .slider .slick-prev {
    position: absolute;
    top: 35px;
    left: 263px;
    border: none;
    background-color: #fff;
    z-index: 2; }
  .slider .slick-next {
    position: absolute;
    top: 35px;
    right: 266px;
    border: none;
    background-color: #fff;
    z-index: 2; }

.quaestion {
  padding: 62px 0 79px 0;
  background: url("../img/bg_fourth.jpg") center center/cover no-repeat; }
  .quaestion__wrapper {
    margin: 0 auto;
    width: 896px;
    min-height: 297px;
    position: relative; }
  .quaestion__title {
    height: 68px;
    background-color: #25333c; }
    .quaestion__title-first {
      color: #ffffff;
      font-size: 19px;
      font-weight: 700;
      line-height: 51px;
      text-align: center;
      text-transform: uppercase; }
    .quaestion__title-second {
      color: #ffffff;
      font-size: 14px;
      font-weight: 400;
      line-height: 0px;
      text-align: center;
      text-transform: uppercase; }
  .quaestion__form {
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(3, 268px);
    grid-template-rows: 45px 71px;
    -webkit-column-gap: 6px;
            column-gap: 6px;
    row-gap: 8px;
    padding: 37px 41px 87px 39px; }
    .quaestion__form-item {
      font-size: 12px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.21);
      padding-left: 18px;
      padding-right: 18px;
      border-radius: 40px; }
    .quaestion__form-area {
      font-size: 12px;
      grid-column: 1/4;
      border-radius: 8px;
      border: 1px solid rgba(0, 0, 0, 0.21);
      padding: 18px 18px 0 25px;
      resize: none; }
  .quaestion__btn {
    position: absolute;
    bottom: 25px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 180px;
    height: 45px;
    background-color: #ec644b;
    padding: 18px 31px;
    border: none;
    border-radius: 40px;
    color: #ffffff;
    font-size: 11px;
    font-weight: 400;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase; }
    .quaestion__btn:hover {
      background-color: #dc5238; }

.footer {
  padding: 24px 0 26px 0;
  background-color: #25333c; }
  .footer__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer__logo {
    width: 68px; }
  .footer__name {
    width: 732px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    padding-left: 45px; }
  .footer__call {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 161px; }
  .footer__text {
    color: #ffffff;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: right; }
  .footer__phone {
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-align: right;
    text-decoration: none; }
  .footer__btn {
    width: 160px;
    height: 45px;
    background-color: #ec644b;
    border: none;
    border-radius: 40px;
    padding: 18px 23px;
    color: #ffffff;
    font-size: 12px;
    font-weight: 400;
    line-height: 10px;
    text-transform: uppercase; }
    .footer__btn:hover {
      background-color: #dc5238; }

/*# sourceMappingURL=style.css.map */